@keyframes scroll-vertical-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% - 2rem));
  }
}

@keyframes scroll-vertical-down {
  0% {
    transform: translateY(calc(-100% - 2rem));
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scroll-horizontal-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes scroll-horizontal-right {
  0% {
    transform: translateX(calc(-100% - 2rem));
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-vertical-up {
  animation: scroll-vertical-up 21s linear infinite;
}

.animate-scroll-vertical-down {
  animation: scroll-vertical-down 21s linear infinite;
}

.animate-scroll-horizontal-left {
  animation: scroll-horizontal-left 21s linear infinite;
}

.animate-scroll-horizontal-right {
  animation: scroll-horizontal-right 21s linear infinite;
}
