@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* ===== COLORS ===== */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #d9d9d9;
  --color-light-gray: #f0f0f0;
  --color-light-gray-border: #dcdcdc;
  --color-dark-gray: #5a5a5a;
  --color-text-dark: #1c2434;
  --color-red: #ff4c4c;
  --color-blue: #0473ea;
  --color-green: #38d200;
  --color-muted: #585c71;
  --color-danger: #f93a37;

  /* ===== FONT FAMILIES ===== */
  --font-bebas: var(--font-bebas);
  --font-onest: var(--font-onest);
}

@custom-variant dark (&:is(.dark *));

/* ===== BASE STYLES ===== */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
  }
}

#qr-reader video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
  position: absolute;
  top: 0;
  left: 0;
}
