apiVersion: apps/v1
kind: Deployment
metadata:
  name: black-void
  namespace: microservices
  labels:
    app: black-void
spec:
  selector:
    matchLabels:
      app: black-void
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: black-void
    spec:
      imagePullSecrets:
      - name: private-repository
      containers:
      - name: black-void
        image: registry-prem.eku.id/wukong/black-void:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 400m
            memory: 512Mi
        livenessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 5
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
          periodSeconds: 10
        env:
        - name: TZ
          value: Asia/Jakarta
        envFrom:
        - configMapRef:
            name: black-void-config
        - secretRef:
            name: black-void-secret
        ports:
        - containerPort: 3000
          name: http
      restartPolicy: Always
